.comment-navigation .nav-links {
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	margin: rem-calc(40) 0;

	@include font-size( 19, 23 );

	a {
		position: relative;
		text-decoration: none;

		&:hover::after {
			opacity: 1;
		}

		@include after( "", 100%, rem-calc( 2 ) ) {
			bottom: rem-calc(-2);
			left: 0;
			opacity: 0;
			transition: 0.2s;
		}
	}
}

.comments-area {
	margin: rem-calc(100) 0 0;

	@include bp-down( sm ) {
		margin: rem-calc(60) 0 0;
	}

	.comments-title {
		margin-bottom: rem-calc(100);
	}

	.comment-author,
	.comment-metadata {

		a {
			text-decoration: none;
		}
	}

	.comment-author {
		letter-spacing: rem-calc(0.25);
		position: relative;
	}

	.avatar {
		border-radius: 50%;
		left: rem-calc(-140);
		position: absolute;

		@include bp-down( sm ) {
			height: auto;
			left: rem-calc(-65);
			width: rem-calc(45);
		}
	}

	.comment-metadata {
		letter-spacing: rem-calc(0.3);
		margin-left: rem-calc(20);
		text-transform: uppercase;

		@include font-size( 16, 19 );

		@include bp-down( sm ) {
			margin-left: 0;

			@include font-size( 12, 20 );
		}

		a {

			&:not(:hover) {
				color: color(gray, 6);
			}
		}
	}

	.comment-meta {
		align-items: flex-end;
		display: flex;

		@include bp-down( sm ) {
			display: block;
		}
	}

	.comment-content {
		line-height: rem-calc(35);

		@extend %underline-links;

		p {
			margin: rem-calc(10) 0;

			&:last-of-type {
				margin-bottom: rem-calc(30);
			}

			@include bp-down( sm ) {
				margin: rem-calc(20) 0;

				@include font-size ( 14, 25 );

				&:last-of-type {
					margin-bottom: rem-calc(20);
				}
			}
		}
	}

	.reply {
		display: inline-block;

		@include font-size( 16, 19 );

		@include bp-down( sm ) {

			@include font-size( 14, 17 );
		}

		.comment-reply-link {
			position: relative;
			text-decoration: none;
			text-transform: uppercase;

			&:not(:hover) {
				color: color(gray, 3);
			}

			@include after( "", 100%, rem-calc( 2 ) ) {
				background-color: color(gray, 3);
				bottom: rem-calc(-2);
				left: 0;
			}
		}
	}

	.comment-list {
		line-height: initial;
		list-style: none;
		padding-left: 0;

		&.has-avatars article.comment-body {
			min-height: 100px;
			padding-left: rem-calc(140);

			@include bp-down( sm ) {
				padding-left: rem-calc(67);
			}
		}
	}

	li {
		margin: rem-calc(100) 0;

		@include bp-down( sm ) {
			margin: rem-calc(60) 0;
		}

		&.trackback,
		&.pingback {
			margin: rem-calc(40) 0;

			.comment-body {
				color: color(gray, 6);
				display: flex;
				flex-direction: column;
				text-transform: uppercase;

				@include font-size(16, 19);

				a {

					&:not(.url) {
						color: color(gray, 6);
						text-decoration: none;
					}

					&.url {
						text-transform: none;

						@include font-size(21, 35);
					}
				}
			}
		}
	}

	.bypostauthor {
		display: block;
	}

	.children {
		line-height: initial;
		list-style: none;
		padding-left: rem-calc(140);

		@include bp-down( lg ) {
			padding-left: 5%;
		}

		article {
			margin-bottom: rem-calc(60);

			@include bp-down( sm ) {

				margin-bottom: rem-calc(40);
			}
		}
	}
}
