/**
 * Post/Page content style
 */

body.page,
body.single-post {

	main.site-main a {
		color: color(yellow);
	}

	article {
		position: relative;
	}

	.entry-content {

		p {
			margin: rem-calc(40) 0 rem-calc(60);

			+ h1,
			+ h2 {
				margin-top: rem-calc(100);
			}
		}

		> :last-child {
			margin-bottom: 0;
		}

		.page-links {

			@extend %pagination-links;

			.label {
				font-weight: 400;

				&::after {
					display: none;
				}
			}
		}
	}

	footer.entry-footer {
		bottom: rem-calc(-40);
		position: absolute;
	}
}
