.blog {

	.content-area {
		margin: rem-calc(150) auto;

		.post-thumbnail {

			img {
				display: block;
				height: auto;
				width: 100%;
			}

		}

		.post-list-item {
			margin: rem-calc(50) 0;
		}

		.entry-meta,
		.entry-meta a {
			color: color(gray, 6);
			font-weight: 400;
			margin-bottom: rem-calc(10);
			text-decoration: none;

			@include font-size( 16, 19 );

			&:hover {
				color: color(yellow);
			}
		}

		.entry-title {
			margin: rem-calc(10) 0 rem-calc(20) 0;
			/* stylelint-disable no-descending-specificity  */
			a {
				color: color(gray, 2);
				text-decoration: none;

				&:hover {
					color: color(yellow);
				}
			}
			/* stylelint-enable */
		}

		.excerpt {
			text-decoration: none;

			&:hover p {
				color: color(yellow);
			}
		}

		.read-more {
			color: color(gray, 3);
			font-weight: 400;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;

			@include font-size( 16, 19 );

			@include after( "", 100%, rem-calc( 2 ) ) {
				background-color: color(gray, 3);
				bottom: rem-calc(-2);
				left: 0;
			}

			&:hover {
				color: color(yellow);

				&::after {
					background-color: color(yellow);
				}
			}
		}
	}

	.content-area.column {
		max-width: rem-calc(1080);
		width: 100%;

		.post-list {

			&-item {
				display: flex;
				width: 100%;
			}

			&-content {
				align-self: center;
				padding-left: rem-calc(40);
				width: 50%;

				&-full {
					padding: 0;
					width: 100%;
				}

			}
		}

		.post-thumbnail {
			width: 50%;
		}

	}

	.content-area.grid {

		.site-main {
			display: flex;
			flex-wrap: wrap;
			margin-left: rem-calc(-20);
			margin-right: rem-calc(-20);
			padding: 0 rem-calc(20);
			width: 100%;
		}

		.post-list {

			&-item {
				margin-left: rem-calc(20);
				margin-right: rem-calc(20);
				max-width: rem-calc(521);
				width: 30%;

				.post-thumbnail {
					display: block;
					margin-bottom: rem-calc(20);
					width: 100%;
				}

			}
		}
	}

	.sidebar-active {
		display: flex;
		margin-top: rem-calc(150);

		.content-area {
			margin-top: 0;

			&.grid {

				.post-list-item {
					max-width: rem-calc(521);
					width: 50%;
				}
			}
		}
	}
}
