.search-form {
	position: relative;

	@include bp-up(md) {
		padding: rem-calc(100) 0;
	}

	form {
		align-items: center;
		display: flex;
	}

	input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
		background-image: url("../images/icon-search.svg");
		background-position: rem-calc(40) center;
		background-repeat: no-repeat;
		background-size: rem-calc(20);
		border: none;
		border-radius: rem-calc(5);
		color: color(gray, 6);
		flex: 1 1 auto;
		height: rem-calc(62);
		padding: 0 rem-calc(40) 0 rem-calc(78);
		width: 100%;

		@include font-size(18);

		@include bp-down(xs) {
			background-position: rem-calc(20) center;
			padding: 0 rem-calc(20) 0 rem-calc(58);
		}

		&::placeholder {
			color: color(gray, 6);
		}
	}

	.search-button {
		flex: 0 0 auto;
		margin-left: rem-calc(40);
		max-height: rem-calc(62);

		svg {
			display: none;
		}
	}

	.search-close {
		display: none;
	}
}

.site-header .search-form {
	max-width: rem-calc(895);
	width: 80%;

	@include bp-down(md) {
		max-width: rem-calc(700);
		width: 100%;
	}

	form {

		@include bp-down(md) {
			flex-direction: column;
			padding-bottom: rem-calc(100);
		}
	}

	input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
		background-color: color(white);

		@include bp-down(md) {
			margin: 0 0 rem-calc(36);
		}
	}

	.btn-search {

		@include bp-down(md) {
			margin-left: 0;
		}
	}

	.search-close {
		background-color: transparent;
		border: transparent;
		cursor: pointer;
		display: block;
		padding: rem-calc(10);
		position: absolute;
		right: rem-calc(-66);
		top: 50%;
		transform: translateY(-50%);

		@include bp-down(md) {
			margin-top: rem-calc(26);
			position: static;
			transform: none;
		}

		img {
			display: block;
			transform: rotate(0);
			transform-origin: center;
			transition: 0.2s;
		}

		&:hover img {
			transform: rotate(90deg);
		}
	}
}

.site-main .search-form {

	@include bp-down(md) {
		padding: rem-calc(60) 0 rem-calc(100);
	}

	form {

		@include bp-down(sm) {
			flex-direction: column;
		}
	}

	input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {

		@include bp-down(sm) {
			margin: 0 0 rem-calc(36);
		}
	}

	.btn-search {

		@include bp-down(sm) {
			margin-left: 0;
		}
	}
}
