.wp-block-cover {

	a {
		color: color(yellow);

		&:hover {
			text-decoration: none;
		}
	}

	&:not(.alignleft):not(.alignright) {
		margin-bottom: rem-calc(100);
		margin-top: rem-calc(100);

		@include bp-down( sm ) {
			margin-bottom: rem-calc(60);
			margin-top: rem-calc(60);
		}
	}

	&.alignleft {
		float: left;
		margin: rem-calc(8) rem-calc(16) rem-calc(16) 0;
	}

	&.alignright {
		float: right;
		margin: rem-calc(8) 0 rem-calc(16) rem-calc(16);
	}
}
