.wp-block-file {
	align-items: center;
	display: flex;
	justify-content: space-between;

	@include bp-down(sm) {
		align-items: center;
		flex-direction: column;
		justify-content: center;

		a {
			display: block;
			margin: rem-calc(20) 0;
		}
	}
}
