.wp-block-file {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: rem-calc(60);

	@include bp-down(sm) {
		flex-direction: column;
		justify-content: center;
	}

	.wp-block-file__button {
		margin-left: 0;

		@include bp-down(sm) {
			margin-top: rem-calc(20);
		}
	}
}
