.wp-block-gallery {

	&:not(.alignleft):not(.alignright) {
		margin-bottom: rem-calc(100);
		margin-top: rem-calc(100);

		@include bp-down( sm ) {
			margin-bottom: rem-calc(60);
			margin-top: rem-calc(60);
		}
	}

	&.alignleft {
		float: left;
		margin: rem-calc(8) rem-calc(16) rem-calc(16) 0;
	}

	&.alignright {
		float: right;
		margin: rem-calc(8) 0 rem-calc(16) rem-calc(16);
	}

	&.alignwide,
	&.alignfull {
		padding-left: rem-calc($container-padding);
		padding-right: rem-calc($container-padding);

		@include bp-down(sm) {
			padding-left: rem-calc($container-mobile-padding);
			padding-right: rem-calc($container-mobile-padding);
		}
	}
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {

	figure {
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;
	}

	figcaption {
		background: transparent;
		color: color(gray, 6);
		font-weight: 700;
		padding: rem-calc(20) 0 0 0;
		position: static;
		text-align: left;

		@include font-size(14, 17);
	}
}
