.wp-block-image {
	margin: 0;
	max-width: none;

	img {
		vertical-align: top;
	}
}

.entry-content {

	&::after {
		clear: both;
		content: "";
		display: block;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
	}

	figure,
	img {

		&.alignleft {
			float: left;
			margin: rem-calc(8) rem-calc(16) rem-calc(16) 0;
		}

		&.alignright {
			float: right;
			margin: rem-calc(8) 0 rem-calc(16) rem-calc(16);
		}

		&.alignnone {
			margin: rem-calc(100) 0;
			max-width: 100%;

			@include bp-down( sm ) {
				margin: rem-calc(60) 0;
			}
		}

		&.aligncenter {
			margin: rem-calc(100) auto;
			max-width: 100%;

			@include bp-down( sm ) {
				margin: rem-calc(60) auto;
			}
		}
	}
}
