---
extends:
  - stylelint-config-wordpress/scss
plugins:
  - stylelint-order
rules:
  max-line-length: null
  order/order:
    - custom-properties
    - declarations
    - rules
  order/properties-alphabetical-order: true
