/**
 * Global styles
 */

body {
	color: color(gray);
	font-family: $font-primary;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::after,
	&::before {
		box-sizing: border-box;
	}
}

.menu-open {
	overflow: hidden;
}
