/**
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	margin: 1em 0;
}

h1 {
	letter-spacing: 0.03em;

	@include font-size(60, 80);
}

h2 {
	color: color(gray, 2);
	letter-spacing: 0.02em;

	@include font-size(40, 45);
}

h3 {
	color: color(gray, 3);
	letter-spacing: 0.025em;

	@include font-size(32, 39);
}

h4 {
	color: color(gray, 3);
	letter-spacing: 0.015em;

	@include font-size(28, 34);
}

h5 {
	color: color(gray, 5);
	letter-spacing: 0.015em;

	@include font-size(23, 28);
}

h6 {
	color: color(gray, 6);
	letter-spacing: 0.015em;

	@include font-size(21, 25);
}

p {
	letter-spacing: 0.015em;

	@include font-size(21, 35);

	&.featured {
		color: color(gray, 4);

		@include font-size(23, 30);
	}
}

body.archive,
body.search,
body.blog {

	p {
		color: color(gray, 5);
		letter-spacing: 0;

		@include font-size(18, 24);
	}
}

body.single-post p.featured {
	color: color(gray, 5);
	letter-spacing: 0.02em;

	@include font-size(27, 50);
}

ul,
ol {
	letter-spacing: 0.015em;

	@include font-size(21, 45);
}
