.header-top-section {
	backdrop-filter: blur(rem-calc(30));
	background-color: color(white);
	box-shadow: 0 rem-calc(1) rem-calc(10) 0 rgba(0, 0, 0, 0.14);
	display: flex;
	justify-content: space-between;
	min-height: rem-calc(82);
	padding: rem-calc( 17 ) rem-calc(140);
	position: relative;
	width: 100%;
	z-index: 10;

	@media (max-width: 1440px) {
		padding: rem-calc( 17 ) rem-calc(40);
	}

	@include bp-down( sm ) {
		min-height: rem-calc(54);
		padding: 0 rem-calc(20);
	}

	.site-branding {
		width: rem-calc(133);
		margin-right: rem-calc( 30 );
		flex-shrink: 0;
		display: flex;
		align-self: center;

		@include bp-down( sm ) {
			width: rem-calc(100);
		}

		img {
			height: auto;
			width: 100%;
			display: block;
		}
	}

	.site-branding-text {
		max-width: auto;

		a {
			text-decoration: none;
		}

		h1 {
			color: color(gray, 1);
			margin: 0;
			margin-top: rem-calc(17);

			@include font-size(40, 48);
		}

		p {
			color: color(yellow);
			margin: 0;
			margin-bottom: rem-calc(17);
		}
	}

	.navigation-container {
		align-items: center;
		display: flex;

		@media (max-width: 1025px) {
			display: none;
		}

		.search-button {
			background-color: transparent;
			border: transparent;
			cursor: pointer;
			margin-left: rem-calc(30);
			padding: 0;

			svg {
				display: block;
				margin-top: rem-calc(1);
			}

			&:hover {

				g {
					stroke: color(yellow);
				}
			}
		}

		.search-button.active {

			svg g {
				stroke: color(gray, 1);
			}
		}
	}

	.main-navigation {
		width: calc( 100vw - #{ rem-calc( 600 ) } );
		position: relative;

		@media (max-width: 1440px) {
			width: calc( 100vw - #{ rem-calc( 300 ) } );
		}

		.navigation-shadow {
			position: absolute;
			height: 100%;
			width: rem-calc( 96 );
			display: block;
			z-index: 10;
			display: none;

			&-left {
				left: 0;
				box-shadow: inset rem-calc( 80 ) 0 40px#fff;
			}

			&-right {
				right: 0;
				box-shadow: inset rem-calc( -80 ) 0 40px#fff;
			}
		}
	}

	.menu-scrollable {

		.navigation-shadow {
			display: block;
		}
	}

	.menu {

		>ul {
			overflow: auto;
			display: flex;
			width: 100%;
			align-items: center;
			flex-shrink: 0;
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar {
				display: none;
			}

			scrollbar-width: none;
		}

		ul {
			list-style: none;
			margin: rem-calc(-4) 0 0 0;
			padding: 0;
			text-align: right;

			li {
				display: inline-block;
				padding: 0 rem-calc(29);
				flex-shrink: 0;

				&:first-of-type {
					margin-left: auto;
					padding-left: rem-calc( 100 );
				}

				@include bp-down( lg ) {
					padding: 0 rem-calc(14);
				}

				a,
				span {
					color: color(gray, 5);
					font-weight: 800;
					letter-spacing: 0.03em;
					position: relative;
					text-decoration: none;
					text-transform: uppercase;

					@include font-size( 18, 22 );

					&:hover {
						color: color(yellow);

						@include after( "", 100%, rem-calc( 2 ) ) {
							background-color: color(yellow);
							bottom: -2px;
							left: 0;
						}
					}
				}

				&.current_page_item a,
				&.current_page_item span {
					color: color(gray, 1);
				}

				&.menu-item-has-children {

					.sub-menu {
						opacity: 0;
						padding-top: rem-calc(70);
						position: absolute;
						transition: visibility 0.3s, opacity 0.3s;
						visibility: hidden;
						text-align: left;
						width: rem-calc( 300 );

						@include after( "", 100vw, 100%, rem-calc( 24 ), 100% ){
							background-color: color(light);;
							margin: 0 -100000em;
							padding: 0 100000em;
							z-index: -1;
							box-shadow: inset 0.0625rem 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.07);
						}

						li {
							display: block;
							margin: 0;
							padding-bottom: rem-calc(17);
							padding-left: 0;

							a,
							span {
								font-weight: 500;
							}
						}
					}

					&:hover,
					&:focus {

						.sub-menu {
							display: block;
							opacity: 1 !important;
							visibility: visible !important;
						}
					}

				}

			}
		}
	}
}

.main-mobile-navigation {
	display: none;

	@media (max-width: 1025px) {
		background-color: color(light);
		display: flex;
		justify-content: center;
		left: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		position: absolute;
		top: -100vh;
		transition: 0.3s;
		width: 100vw;

		&-active {
			top: rem-calc(84);

			@include bp-down( sm ) {
				top: rem-calc(54);
			}
		}

		.header-menu-container > ul {
			padding: rem-calc(115) 0 rem-calc(50) 0;
		}

		.mobile-submenu-open {
			transform: translateX(rem-calc(-80));

			> li {
				text-align: left;
				width: rem-calc(150);

				a,
				span {
					width: rem-calc(150);
				}
			}
		}

		/* stylelint-disable no-descending-specificity */
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			transition: 0.3s;

			li {
				display: block;
				margin-bottom: rem-calc(40);
				max-width: rem-calc(300);
				position: relative;
				text-align: center;

				@media (max-width: 360px) {
					max-width: rem-calc(260);
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				a,
				span {
					color: color(gray, 3);
					display: block;
					letter-spacing: rem-calc(0.54);
					max-width: rem-calc(300);
					overflow: hidden;
					position: relative;
					text-decoration: none;
					text-overflow: ellipsis;
					text-transform: uppercase;
					white-space: nowrap;

					@media (max-width: 360px) {
						max-width: rem-calc(260);
					}

					@include font-size( 18, 22 );
				}

				&.current-menu-item {

					a,
					span {
						color: color(pink);
					}
				}

				.sub-menu {
					display: none;
					padding-bottom: rem-calc(50);
					position: absolute;
					right: rem-calc(-200);
					top: 0;

					@media ( max-width: 420px ) {
						right: rem-calc(-170);
					}

					li {
						width: rem-calc(150);

						&:last-of-type {
							padding-bottom: rem-calc(50);
						}

						a,
						span {
							overflow: initial;
							text-overflow: initial;
							white-space: initial;
							width: rem-calc(150);
							word-wrap: break-word;
						}

						.mobile-submenu-btn {
							display: none;
						}
					}

					&.mobile-submenu-active {
						display: block;
					}
				}
			}
		}
		/* stylelint-enable */
	}
}

.mobile-menu-button {
	align-items: flex-end;
	justify-content: center;
	background-color: transparent;
	border: transparent;
	display: none;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: rem-calc(25);

	@media (max-width: 1025px) {
		display: flex;
	}
	/* stylelint-disable no-descending-specificity */
	span {
		background-color: color(gray, 5);
		border-radius: rem-calc(5);
		display: block;
		height: rem-calc(3);
		transition: 0.2s;
		width: rem-calc(25);

		&:nth-of-type(2) {
			margin: rem-calc(7) 0;
		}
	}
	/* stylelint-enable */
}

.mobile-menu-active {
	/* stylelint-disable no-descending-specificity */
	span {

		&:nth-of-type(2) {
			width: rem-calc(30);
		}

		&:nth-of-type(3) {
			width: rem-calc(35);
		}
	}
	/* stylelint-enable */
}

.header-big-section {
	align-items: center;
	background-color: color(light);
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: 0.5s;
	width: 100%;
	will-change: height;
}

.header-search {
	height: rem-calc(262);
	max-height: 0;

	@media ( max-width: 1025px ) {
		max-height: auto;
		opacity: 0;
		position: absolute;
		transition: visibility 0.3s, opacity 0.3s;
		visibility: hidden;
		z-index: 8;
	}
}

.header-search-mobile-active {
	opacity: 1;
	visibility: visible;
}

.header-submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	transition: visibility 0.3s, opacity 0.3s;
	visibility: hidden;
	z-index: 5;
}

.mobile-submenu-btn {
	align-items: center;
	display: none;
	height: rem-calc(25);
	justify-content: center;
	position: absolute;
	right: rem-calc(-20);
	top: 64%;
	transform: translateY(-50%);
	width: rem-calc(25);

	@media ( max-width: 1025px ) {
		display: flex;

		svg {

			margin-top: rem-calc(-5);

			&:nth-of-type(2) {
				display: none;
			}
		}
	}
}

.submenu-item-active {
	/* stylelint-disable no-descending-specificity */
	svg {

		&:first-of-type {
			display: none;
		}

		&:nth-of-type(2) {
			display: inline-block;
		}
	}
	/* stylelint-enable */
}
