article ol,
article ul,
.block-library-list ol,
.block-library-list ul {

	li {
		line-height: rem-calc(45);
	}

}

/* stylelint-disable no-descending-specificity */
article ul,
.block-library-list ul {
	list-style: none;
	padding-left: rem-calc(20);

	li::before {
		color: color(gray, 5);
		content: "\2022";
		display: inline-block;
		margin-left: -1em;
		width: 1.5em;
	}
}

article ol,
.block-library-list ol {
	padding-left: rem-calc(25);
}

/* styleling-enable */
