article ol,
article ul,
.block-library-list ol,
.block-library-list ul {
	list-style: none;
	padding-left: rem-calc(20);

	li {
		line-height: rem-calc(45);

		&::before {
			color: color(gray, 5);
			display: inline-block;
			margin-left: -1em;
			width: 1.5em;
		}
	}

}

/* stylelint-disable no-descending-specificity */
article ul,
.block-library-list ul {

	li::before {
		content: "\2022";
	}
}

article ol,
.block-library-list ol {
	counter-reset: li;

	li {
		counter-increment: li;

		&::before {
			content: counter(li) ".";
			font-weight: 700;

			@include font-size( 18, 45 );
		}
	}
}
/* stylelint-enable */
