article,
.block-library-list {

	li {
		line-height: rem-calc(45);
	}

	ul {
		list-style: none;
		padding-left: rem-calc(20);

		&:not(.blocks-gallery-grid) > li::before {
			color: color(gray, 5);
			content: "\2022";
			display: inline-block;
			margin-left: -1em;
			width: 1.5em;
		}
	}

	ol {
		padding-left: rem-calc(25);

		> li::marker {
			color: color(gray, 5);
			font-weight: 700;

			@include font-size(18, 45);
		}
	}
}
