.navigation.pagination {
	width: 100%;

	@media screen {

		.screen-reader-text {
			display: none;
		}
	}

	.nav-links {
		display: flex;
		justify-content: center;

		a,
		span {
			color: color(gray, 3);
			display: block;
			font-weight: 700;
			position: relative;
			text-decoration: none;

			&:hover {

				&::after {
					opacity: 1;
				}
			}

			@include font-size( 21, 25 );

			@include after ( "", calc( 100% + #{ rem-calc( 4 ) } ), rem-calc( 9 ) ) {
				background-color: color(yellow);
				bottom: 0;
				left: 50%;
				opacity: 0;
				transform: translateX(-50%);
				transition: 0.2s;
				z-index: -1;
			}

		}

		.dots::after {
			display: none;
		}

		.prev {
			margin-right: rem-calc(50);

			@include bp-down( sm ) {
				margin-right: rem-calc(17);
			}

			@media (max-width: rem-calc( 410 )) {
				margin-right: auto;
			}
		}

		.next {
			margin-left: rem-calc(50);

			@include bp-down( sm ) {
				margin-left: rem-calc(25);
			}

			@media (max-width: rem-calc( 410 )) {
				margin-left: auto;
			}
		}

		.page-numbers:not(.prev):not(.next) {
			margin: 0 rem-calc(10);

			@include bp-down( sm ) {
				display: none;
			}
		}

		.current {

			&::after {
				opacity: 1;
			}
		}

	}
}

.blog-layout-grid .navigation.pagination {
	margin-top: rem-calc(50);
}

.blog-layout-list .navigation.pagination,
.has-sidebar.blog-layout-grid .navigation.pagination {
	margin-top: rem-calc(150);
}

/* stylelint-disable no-descending-specificity */
.blog-layout-list .navigation.pagination,
.blog-layout-grid .navigation.pagination,
.has-sidebar.blog-layout-grid .navigation.pagination {

	@include bp-down( sm ) {
		margin-top: rem-calc(60);
	}
}
/* stylelint-enable */
