.responsive-table {
	overflow-x: auto;
}

table,
.wp-block-table table {
	border: none;
	border-spacing: 0;
	margin: rem-calc(100) 0;

	@include bp-down( sm ) {
		margin: rem-calc(60) 0;
	}

	th,
	td {
		border: none;

		&:first-child {
			border-bottom-left-radius: rem-calc(5);
			border-top-left-radius: rem-calc(5);
		}

		/* stylelint-disable no-descending-specificity */
		&:last-child {
			border-bottom-right-radius: rem-calc(5);
			border-top-right-radius: rem-calc(5);
		}
		/* stylelint-enable */
	}

	thead,
	tfoot {
		color: color(white);
		letter-spacing: rem-calc(0.3);
		text-transform: uppercase;

		@include font-size( 16, 19 );

		/* stylelint-disable no-descending-specificity */
		tr {
			background-color: color(pink);
		}

		th,
		td {
			padding: rem-calc(22) rem-calc(47) rem-calc(21) rem-calc(47);
			position: relative;

			@include after( "\2022" ) {
				color: color(white);
				font-size: rem-calc(21);
				right: rem-calc(-4.5);
				top: 50%;
				transform: translateY(-50%);
			}

			&:first-child {
				padding-left: rem-calc(40);
			}

			&:last-child {
				padding-right: rem-calc(40);

				&::after {
					display: none;
				}
			}
		}
		/* stylelint-enable */
	}

	tbody {
		color: color(gray, 1);

		@include font-size(21, 45);

		/* stylelint-disable no-descending-specificity */
		th,
		td {
			border-bottom: rem-calc(1) solid #f7f7f7;
			padding: rem-calc(9) rem-calc(20) rem-calc(10) rem-calc(20);
			text-align: center;
		}

		/* style-lint enable*/

		tr:last-of-type {

			th,
			td {
				border-bottom: none;
			}
		}

	}
}

.wp-block-table.is-style-stripes table {

	tbody {

		tr,
		th {

			&:nth-child(odd) {
				background-color: color(white);
			}

			&:nth-child(even) {
				background-color: #f7f7f7;
			}
		}
	}
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: none;
}
