.widget {
	margin-bottom: rem-calc(100);

	@include bp-down( sm ) {
		margin-bottom: rem-calc(60);
	}

	> ul {
		margin: rem-calc(40) 0;
		padding-left: 0;
	}

	ul {
		list-style: none;
	}

	li {
		color: color(gray, 6);

		@include font-size( 16, 19 );
	}

	ul a,
	.tagcloud a {
		border: rem-calc(3) solid transparent;
		box-shadow: 0 0 rem-calc(3) 0 rgba(0, 0, 0, 0.16);
		color: color(gray, 6);
		text-decoration: none;
		transition: 0.2s;

		&:hover {
			border-color: color(yellow);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
			color: color(yellow);
		}
	}
}

h2.widget-title {
	color: color(gray, 5);
	font-weight: 700;
	margin: rem-calc(45) 0;
	text-align: center;

	@include font-size( 30, 25 );

	@include bp-down( sm ) {
		margin: rem-calc(60) 0;
	}
}
