.widget_recent_comments {

	@extend .widget_recent_entries;

	.comment-author-link a {
		color: color(gray, 6);
		display: block;

		@include font-size( 14, 17);

		&:hover {
			color: color(yellow);
		}

		@include bp-down( sm ) {

			@include font-size(12, 20 );
		}
	}
}
