.tagcloud {
	margin: rem-calc(-10);
	margin-bottom: rem-calc(90);

	a {
		display: inline-block;
		margin: rem-calc(10);
		padding: rem-calc(13) rem-calc(20) rem-calc(9) rem-calc(20);
		text-transform: uppercase;

		@include font-size( 16, 19);

		@include bp-down( sm ) {

			@include font-size( 14, 17 );
		}
	}

	.separator {
		display: inline-block;
		font-size: rem-calc(26);
		line-height: rem-calc(6);
	}
}
