/**
 * Alignment
 */

%alignfull {
	left: 50%;
	margin-left: calc(-50vw + (var(--scrollbar-width) / 2));
	position: relative;
	width: calc(100vw - var(--scrollbar-width));
}

body:not(.has-sidebar) {

	.alignfull {

		@extend %alignfull;
	}

	.alignwide {
		max-width: rem-calc($alignwide-width);

		@extend %alignfull;

		$alignwide-with-padding: $alignwide-width + 2 * $container-padding;

		@include bp-up($alignwide-with-padding) {
			margin-left: rem-calc(-$alignwide-width / 2);
		}

		@include bp-between($alignwide-width, $alignwide-with-padding) {
			margin-left: calc(-50vw + (var(--scrollbar-width) / 2) + #{ rem-calc($container-padding) });
			width: calc(100vw - var(--scrollbar-width) - #{ rem-calc(2 * $container-padding) });
		}
	}
}
