.alignfull {
	left: 50%;
	max-width: calc(100vw - var(--scrollbar-width));
	position: relative;
	transform: translateX(-50%);
	width: calc(100vw - var(--scrollbar-width));
}

.has-sidebar {

	.alignfull {
		max-width: rem-calc(1082);
	}
}

.alignwide {
	max-width: rem-calc(1270);

	@extend .alignfull;
}
