/**
 * Global styles
 */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: color(gray);
	font-family: $font-primary;
	overflow-x: hidden;
}

.menu-open {
	overflow: hidden;
}
