/**
 * Variables
 */

$font-primary: "Lato", sans-serif;

$colors: (
	yellow: #ffc33a,
	yellow-light: #ffd983,
	pink: #ff8787,
	black: #000,
	gray: (
		#21252a,
		#343a40,
		#495057,
		#717680,
		#868e96,
		#adb5bd,
		#dfdfdf
	),
	cream: #fdefef,
	light: #f7f7f7,
	white: #fff
);

$breakpoints: (
	xs: 480,
	sm: 768,
	md: 992,
	lg: 1200
);

$container-width: 1640;
$container-narrow-width: 1080;
$container-padding: 40;
$container-mobile-padding: 20;

:root {
	--scrollbar-width: 0;
}
