.widget_nav_menu {

	a {
		display: block;
		margin-bottom: rem-calc(20);
		padding: rem-calc(12) rem-calc(37);
		text-transform: uppercase;

		span {
			margin-left: rem-calc(10);
		}
	}

	.current-menu-item > a:not(:hover) {
		color: color(gray, 3);
	}
}
