.btn {
	background-color: color(pink);
	border: rem-calc(3) solid transparent;
	border-radius: rem-calc(5);
	color: color(white);
	cursor: pointer;
	padding: rem-calc(16) rem-calc(60);
	text-transform: uppercase;

	@include font-size( 23, 28 );

	@media ( max-width: 1025px ) {

		padding: rem-calc(12) rem-calc(40);

		@include font-size( 14, 17 );
	}

	&:hover {
		background-color: transparent;
		border-color: color(pink);
		color: color(pink);
	}
}
